{% extends 'layouts/box.html' %}

{% block content %}

<h1 class="mb-4">Account Settings</h1>

<div class="relative overflow-x-auto mt-12">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <tbody>
            <tr class="bg-white dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Email address
                </th>
                <td class="px-6 py-4 ">
                    {% if user.email %}{{ user.email }}{% else %}No Email{% endif %}
                </td>
                <td class="px-6 py-4">
                    <a href="{% url 'account_email' %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="py-4 pt-1 font-medium text-gray-900 whitespace-nowrap dark:text-white">  
                </th>
                <td class="px-6 py-4 pt-1">
                    {% if user.emailaddress_set.first.verified %}<span class="text-green-500">Verified</span>{% else %}<span class="text-amber-500">Not verified</span>{% endif %}
                </td>
                <td class="px-6 py-4 pt-1">
                    <a href="{% url 'account_email' %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                        {% if not user.emailaddress_set.first.verified %}Verify{% endif %}</a>
                </td>
            </tr>

            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Delete Account
                </th>
                <td class="px-6 py-4 ">
                    Once deleted, account is gone. Forever.
                </td>
                <td class="px-6 py-4">
                    <a href="{% url 'profile-delete' %}" class="font-medium text-red-600 dark:text-red-500 hover:underline">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}
