{% extends 'layouts/blank.html' %}

{% block content %}

<div id="profile" class="flex flex-col items-center">
    
    <div class="w-full md:w-[36rem] lg:w-[50rem]">
        <div class="card p-6">
            <div class="text-center flex flex-col items-center">
                <img class="w-36 h-36 rounded-full object-cover mb-4" src="{{ profile.avatar }}" />
                <div class="text-center max-w-md">
                    <h1>{{ profile.name }}</h1>
                    <div class="text-gray-400 mb-2 -mt-3">@{{ profile.user.username }}</div>
                    <div class="mt-8 whitespace-pre-wrap" >{{ profile.info }}</div>  
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
